{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <!-- Incluir CSS de SB Admin 2 -->
    <link href="{% static 'tasks/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tasks/css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Contenido de la página -->
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>

    <!-- Incluir JS de SB Admin 2 -->
    <script src="{% static 'tasks/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'tasks/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'tasks/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'tasks/js/sb-admin-2.min.js' %}"></script>
</body>
</html>